/* Estilo para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    /* Fuentes adicionales */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-family: 'Permanent Marker', cursive;
    /* Imagen de fondo */
    background-image: url('https://www.vectorizados.com/muestras/2017/06/anuncio-para-comidas-rapidas.gif');
}

/* Estilo para la cabecera de la página */
header {
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para la imagen dentro de la cabecera */
header img {
    max-width: 250px;
}

/* Estilo para los encabezados h1 */
h1 {
    text-align: center;
    font-size: 40px;
    /* Fuentes adicionales */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

/* Estilo para el contenedor principal de la aplicación */
#app {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* Fuentes adicionales */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

/* Estilo para las etiquetas dentro del formulario */
label {
    margin-bottom: 5px;
}

/* Estilo para los select y los input dentro del formulario */
select,
input {
    margin-bottom: 10px;
    padding: 8px;
    /* Fuentes adicionales */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

/* Estilo para los botones dentro del formulario */
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    /* Fuentes adicionales */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

/* Estilo al pasar el ratón sobre los botones */
button:hover {
    background-color: #45a049;
}

/* Estilo para el resumen del pedido */
#order-summary {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    background-color: #bfbfbf9b;
    border: 1px solid #010000e7;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.988);
}

/* Estilo para la lista de elementos del pedido */
#order-list {
    list-style-type: none;
    padding: 0;
}

/* Estilo para cada elemento del pedido */
.order-item {
    border: 1px solid rgb(3, 2, 0);
    margin: 5px 0;
    padding: 10px;
}

/* Estilo para el botón de eliminación de elementos del pedido */
.remove-item {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}

/* Estilo al pasar el ratón sobre el botón de eliminación */
.remove-item:hover {
    background-color: #c9302c;
}

/* Estilo para el grupo de botones con forma de triángulo */
#triangle-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilo para los botones con forma de triángulo */
#triangle-buttons button {
    width: 190px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo al pasar el ratón sobre los botones con forma de triángulo */
#triangle-buttons button:hover {
    background-color: #45a049;
}
